<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Pär Eriksson -->
<html xmlns="http://www.w3.org/1999/xhtml"    
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	
    <h:head>
    	<h:outputStylesheet name="css/main.css"/>
    	<title>Din sida</title>
    	<script language="javascript" type="text/javascript">
		function showHide(shID) {
   			if (document.getElementById(shID)) {
      			if (document.getElementById(shID).style.display != 'block') {
         			document.getElementById(shID).style.display = 'block';
      			}
      			else {
         	    	document.getElementById(shID).style.display = 'none';
     			 }
   			}
		}
</script>
    </h:head>
    <h:body>
    	<h2>Din sida - <h:outputLink value="tidsbokning.xhtml" >
    							<h:outputText value="tidsbokning" />
    					 </h:outputLink></h2>
    	 <h:form><h:commandButton action="#{authenticationBean.logOut}" value="Logga ut" styleClass="button"></h:commandButton></h:form>
		<!-- January -->
    	<p class="month">Januari: 
    		<h:outputText value="#{staffBean.monthlyHours(0)}"></h:outputText> timmar -
    		<a href="#" id="january-show"  onclick="showHide('january');return false;">  Visa/dölj tider.</a>
    	</p>
    	<div id="january" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(0)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- February -->
    	<p class="month">Februari: 
    		<h:outputText value="#{staffBean.monthlyHours(1)}"></h:outputText> timmar -
    		<a href="#" id="february-show"  onclick="showHide('february');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="february" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(1)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- March -->
    	<p class="month">Mars: 
    		<h:outputText value="#{staffBean.monthlyHours(2)}"></h:outputText> timmar -
    		<a href="#" id="march-show"  onclick="showHide('march');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="march" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(2)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- April -->
    	<p class="month">April: 
    		<h:outputText value="#{staffBean.monthlyHours(3)}"></h:outputText> timmar -
    		<a href="#" id="april-show"  onclick="showHide('april');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="april" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(3)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- May -->
    	<p class="month">Maj: 
    		<h:outputText value="#{staffBean.monthlyHours(4)}"></h:outputText> timmar -
    		<a href="#" id="may-show"  onclick="showHide('may');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="may" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(4)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- June -->
    	<p class="month">Juni: 
    		<h:outputText value="#{staffBean.monthlyHours(5)}"></h:outputText> timmar -
    		<a href="#" id="june-show"  onclick="showHide('june');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="june" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(5)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- July -->
    	<p class="month">Juli: 
    		<h:outputText value="#{staffBean.monthlyHours(6)}"></h:outputText> timmar -
    		<a href="#" id="july-show"  onclick="showHide('july');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="july" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(6)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- August -->
    	<p class="month">Augusti: 
    		<h:outputText value="#{staffBean.monthlyHours(7)}"></h:outputText> timmar -
    		<a href="#" id="august-show"  onclick="showHide('august');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="august" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(7)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- September -->
    	<p class="month">September: 
    		<h:outputText value="#{staffBean.monthlyHours(8)}"></h:outputText> timmar -
    		<a href="#" id="september-show"  onclick="showHide('september');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="spetember" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(8)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- October -->
    	<p class="month">Oktober: 
    		<h:outputText value="#{staffBean.monthlyHours(9)}"></h:outputText> timmar -
    		<a href="#" id="october-show"  onclick="showHide('october');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="october" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(9)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- November -->
    	<p class="month">November: 
    		<h:outputText value="#{staffBean.monthlyHours(10)}"></h:outputText> timmar -
    		<a href="#" id="november-show"  onclick="showHide('november');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="november" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(10)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
    	
    	<!-- December -->
    	<p class="month">December: 
    		<h:outputText value="#{staffBean.monthlyHours(11)}"></h:outputText> timmar -
    		<a href="#" id="december-show"  onclick="showHide('december');return false;"> Visa/dölj tider.</a>
    	</p>
    	<div id="december" class="more">
    		<ui:repeat value="#{staffBean.getMonthShift(11)}" var="item">
  			  	#{item.info}<br/>
			</ui:repeat>
		</div>
		
    </h:body>
</html>