<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Pär Eriksson -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
	
    <h:head>
    	<h:outputStylesheet name="css/main.css"/>
    	<title>Eken tidsbokning</title>
    </h:head>
    
    <h:body>
    	<div id="header">
    		<h1>Ljungbacken Eken - tidsbokning</h1>
    	
    	</div>
    	
    	<h:form>
        <p><h:outputText value="Användarnamn" styleClass="description"/> </p>
        <h:inputText id="username" value="#{authenticationBean.userId}" styleClass="inputtext" autocomplete="off" ></h:inputText>
        <br/>
        
        <p><h:outputText value="Lösenord" styleClass="description" /></p>
        <h:inputSecret id="password" value="#{authenticationBean.password}" styleClass="inputtext"></h:inputSecret>
        <br/>
         
        <h:commandButton action="#{authenticationBean.validate}" value="Logga in" styleClass="button"></h:commandButton>
    </h:form>
    	
    </h:body>
</html>