<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Pär Eriksson -->
<html xmlns="http://www.w3.org/1999/xhtml"    
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	
    <h:head>
    	<h:outputStylesheet name="css/main.css"/>
    	<title>Tidsbokning</title>
    </h:head>
    <h:body>
    	<h2>Inloggad som <h:outputLink value="din-sida.xhtml" >
    							<h:outputText value="#{authenticationBean.userName}" />
    					 </h:outputLink>
    	</h2>
    	<h:outputText value="Dubbelbokning inte tillåten!" rendered="#{bookingBean.failedToBook == true}" styleClass="error"/>
    	<h:outputText value="Inga datum tillgängliga!" rendered="#{bookingBean.noDatesAvailable == true}" styleClass="error"/>
    	<h:form><h:commandButton action="#{authenticationBean.logOut}" value="Logga ut" styleClass="button"></h:commandButton></h:form>

    	<p class="date">Måndag <h:outputText value="#{bookingBean.mondayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.monday}"  styleClass="info" />
    	<h:dataTable value="#{bookingBean.monday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.monday}"
    	>
    	
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.mondayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.mondayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.mondayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- TUEDAY -->
    	<p class="date">Tisdag <h:outputText value="#{bookingBean.tuesdayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.tuesday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.tuesday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.tuesday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.tuesdayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.tuesdayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.tuesdayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- Wednesday -->
    	<p class="date">Onsdag <h:outputText value="#{bookingBean.wednesdayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.wednesday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.wednesday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.wednesday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.wednesdayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.wednesdayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.wednesdayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- THURSDAY -->
    	<p class="date">Torsdag <h:outputText value="#{bookingBean.thursdayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.thursday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.thursday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.thursday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.thursdayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.thursdayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.thursdayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- FRIDAY -->
    	<p class="date">Fredag <h:outputText value="#{bookingBean.fridayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.friday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.friday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.friday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.fridayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.fridayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.fridayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- Saturday -->
    	<p class="date">Lördag <h:outputText value="#{bookingBean.saturdayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.saturday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.saturday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.saturday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.saturdayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.saturdayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.saturdayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<br></br>
    	<!-- SUNDAY -->
    	<p class="date">Söndag <h:outputText value="#{bookingBean.sundayDate}"></h:outputText></p>
    	<h:outputText value="Inga pass bokade denna dag!" rendered="#{empty bookingBean.sunday}"  styleClass="info"/>
    	<h:dataTable value="#{bookingBean.sunday}" var="o"
    			styleClass="shift-table"
    			headerClass="shift-table-header"
    			rowClasses="shift-table-odd-row,shift-table-even-row"
    			rendered="#{not empty bookingBean.sunday}"
    	>
    			<h:column>
    				<f:facet name="header">Start</f:facet>
    				#{o.start}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Slut</f:facet>
    				#{o.slut}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Timmar</f:facet>
    				#{o.timmar}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Bokat</f:facet>
    				#{o.personal}
    			</h:column>
    	</h:dataTable>
    	
    	<h:outputText value="Inga pass tillgängliga att boka denna dag." rendered="#{empty bookingBean.sundayFreeShifts}"  styleClass="info"/>
    	<h:form rendered="#{not empty bookingBean.sundayFreeShifts}" >
	    	<h:selectOneMenu value="#{bookingBean.shiftToBook}">
	    		<f:selectItems value="#{bookingBean.sundayFreeShifts}" var="a" itemValue="#{a.id}" itemLabel="#{a}"  />
			</h:selectOneMenu>
	    	<h:commandButton value="Boka" action="#{bookingBean.book}" styleClass="button-small">
	    		<f:setPropertyActionListener target="#{bookingBean.userId}" value="#{authenticationBean.userId}" />
	    	</h:commandButton>
    	</h:form>
    	<!-- Buttons for changing week -->
    	<h:form>
    		<h:commandButton action="#{bookingBean.changeWeek(0)}" value="-1 Vecka" styleClass="button"></h:commandButton>
    		<h:commandButton action="#{bookingBean.changeWeek(1)}" value="+1 Vecka" styleClass="button"></h:commandButton>
    	</h:form>
    </h:body>
</html>